@use '../media' as *;

.button {
	height: 50rem;
	padding-inline: 30rem;
	border: 1rem solid var(--purple);
	border-radius: 100rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	row-gap: 15rem;
	text-transform: uppercase;
	font-size: 12rem;
	font-weight: 500;
	line-height: 1;
	color: #fff;
	background-color: var(--purple);
	transition: all 0.3s ease;
	text-decoration: none;

	@include hover {
		background-color: #fff;
		color: var(--purple);
	}

	&--link {
		background-color: transparent;
		border-color: transparent;
		color: #000000;
	}

	&--filter {
		padding: 0;
		height: 30rem;
		border-radius: 0;
		background-color: transparent;
		border-color: transparent;
		color: #000000;
	}

	&--success {
		background-color: #28a745;
		border-color: #28a745;

		@include hover {
			color: #218838;
		}
	}

	&:disabled {
		opacity: 0.6;
		pointer-events: none;
	}

	&[hidden] {
		display: none;
	}
}

.btn {
	&:disabled {
		opacity: 0.6;
		pointer-events: none;
	}
}
