@use '../media' as *;
@use '../mixins' as *;

.button {
	--button-height: 50rem;

	$root: &;

	height: var(--button-height);
	padding-inline: 30rem;
	border: 1rem solid var(--purple);
	border-radius: 100rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	column-gap: 15rem;
	text-transform: uppercase;
	font-size: 12rem;
	font-weight: 500;
	line-height: 1;
	color: #fff;
	background-color: var(--purple);
	transition: all 0.3s ease;
	text-decoration: none;

	& svg {
		fill: currentColor;
	}

	@include hover {
		background-color: #fff;
		color: var(--purple);
	}

	&--link {
		background-color: transparent;
		border-color: transparent;
		color: #000000;
	}

	&--filter {
		padding: 0;
		height: 30rem;
		border-radius: 0;
		background-color: transparent;
		border-color: transparent;
		color: #000000;
	}

	&--success {
		background-color: #28a745;
		border-color: #28a745;

		@include hover {
			color: #218838;
		}
	}

	&--pink {
		background-color: var(--pink);
		border-color: var(--pink);

		@include hover {
			color: var(--pink);
		}
	}

	&--vk {
		position: relative;
		background-color: var(--blue);
		border: 1rem solid var(--blue);
		overflow: hidden;

		@include hover {
			background-color: var(--blue);
			color: var(--white);
			opacity: 0.75;
		}
	}

	&--favorite {
		background-color: var(--pink);
		border: 1rem solid var(--pink);

		@include hover {
			background-color: var(--pink);
			color: var(--white);
			opacity: 0.75;
		}
	}

	&--whatsapp {
		background-color: var(--green);
		border: 1rem solid var(--green);

		@include hover {
			color: var(--green);
		}

		#{$root}__icon {
			width: 28rem;
			height: 28rem;
		}
	}

	&--tg {
		background-color: var(--color-tg);
		border: 1rem solid var(--color-tg);

		@include hover {
			color: var(--color-tg);
		}

		#{$root}__icon {
			width: 28rem;
			height: 28rem;
		}
	}

	&--square {
		@include square(#{var(--button-height)});

		padding: 0;
	}

	&:disabled {
		opacity: 0.6;
		pointer-events: none;
	}

	&[hidden] {
		display: none;
	}

	&__icon {
		width: 24rem;
		height: 24rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
	}

	&__text {
		flex-shrink: 0;
	}
}

.btn {
	&:disabled {
		opacity: 0.6;
		pointer-events: none;
	}
}
