@use '../media' as *;

.dialog-card {
	position: absolute;
	top: 0;
	right: 0;
	padding: 54rem 20rem;
	width: 100%;
	max-width: calc(362rem + 16px);
	height: 100dvh;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	row-gap: 36rem;
	overflow: hidden;

	@include mobile-s {
		max-width: unset;
	}

	&__title {
		margin: 0;
		font-size: 26rem;
		line-height: 1;
		font-weight: 300;
	}

	&__subtitle {
		margin-top: 20rem;
		font-size: 16rem;
		line-height: 20rem;
	}

	&__link {
		margin-top: 15rem;
	}

	&__body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		row-gap: 20rem;
		overflow: hidden;
	}

	&__footer {
		display: flex;
		flex-direction: column;
	}

	html:has(#wpadminbar) & {
		padding-top: calc(32px + 54rem);
	}
}
