.dress-types {
	display: flex;
	flex-wrap: wrap;
	gap: 4rem;
}

.dress-type-tag {
	display: inline-flex;
	height: 30rem;
	align-items: center;
	justify-content: center;
	border-radius: 100rem;
	padding-inline: 20rem;
	background-color: #666;
	color: #fff;

	&--wedding {
		background-color: wheat;
		color: #000;
	}

	&--evening {
		background-color: orange;
	}

	&--prom {
		background-color: blue;
	}
}
