.field {
	$root: &;

	--text-color: #000;
	--bg-color: transparent;

	width: 100%;
	display: flex;
	flex-direction: column;
	font-size: 12rem;
	font-weight: 500;
	line-height: 1;

	// &--date,
	// &--time {
	// 	text-align: center;
	// }

	&__body {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		column-gap: 10rem;
	}

	&__label {
		margin-inline: 20rem;
		font-weight: 500;
	}

	&__control {
		padding-inline: 20rem;
		width: 100%;
		height: 50rem;
		border: 1rem solid rgba(0, 0, 0, 0.1);
		border-radius: 100rem;
		text-align: inherit;
		text-transform: uppercase;
		background-color: var(--bg-color);

		&:is([type='date']) {
			appearance: none;
		}

		&:is(select) {
			text-align: center;
			text-align-last: center;
			appearance: none;
			background-image: url("data:image/svg+xml;utf8,<svg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M4.28598 5.24977L0 0.74993L0.714289 0L5.00027 4.49984L9.28571 0.000560648L10 0.750491L4.99998 6L4.28569 5.25007L4.28598 5.24977Z' fill='black'/></svg>");
			background-repeat: no-repeat;
			background-position: 95% center;
		}

		&:is(textarea) {
			padding-block: 20rem;
			height: auto;
			border-radius: 20rem;
			text-transform: none;
		}

		&::placeholder {
			color: rgba(0, 0, 0, 0.3);
		}

		&:has(#{$root}__errors:not(:empty)),
		&[aria-invalid='true'] {
			border-color: red;
		}

		&:disabled {
			opacity: 0.5;
			cursor: not-allowed;
		}
	}

	&__errors {
		margin-top: 5rem;
		padding-inline: 20rem;
		display: flex;
		flex-direction: column;
		row-gap: 5rem;
		color: red;

		&:empty {
			display: none;
		}
	}
}
