.field {
	display: flex;
	flex-direction: column;
	font-size: 12rem;
	font-weight: 500;
	line-height: 1;

	&__control {
		padding-inline: 20rem;
		height: 50rem;
		border: 1rem solid rgba(0, 0, 0, 0.1);
		border-radius: 100rem;
		text-transform: uppercase;

		&:is(textarea) {
			padding-block: 20rem;
			height: auto;
			border-radius: 20rem;
		}

		&::placeholder {
			color: rgba(0, 0, 0, 0.3);
		}

		&[aria-invalid='true'] {
			border-color: red;
		}
	}

	&__errors {
		margin-top: 5rem;
		padding-inline: 20rem;
		display: flex;
		flex-direction: column;
		row-gap: 5rem;
		color: red;
	}
}
