.field {
	$root: &;

	--text-color: #000;
	--bg-color: transparent;

	width: 100%;
	display: flex;
	flex-direction: column;
	font-size: 12rem;
	font-weight: 500;
	line-height: 1;

	// &--date,
	// &--time {
	// 	text-align: center;
	// }

	&__body {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		column-gap: 10rem;
	}

	&__label {
		margin-inline: 20rem;
		font-weight: 500;
	}

	&__control {
		padding-inline: 20rem;
		width: 100%;
		height: 50rem;
		border: 1rem solid rgba(0, 0, 0, 0.1);
		border-radius: 100rem;
		text-align: inherit;
		text-transform: uppercase;
		background-color: var(--bg-color);

		&:is([type='date']) {
			appearance: none;
		}

		&:is(select) {
			text-align: center;
			text-align-last: center;
			appearance: none;
		}

		&:is(textarea) {
			padding-block: 20rem;
			height: auto;
			border-radius: 20rem;
		}

		&::placeholder {
			color: rgba(0, 0, 0, 0.3);
		}

		&:has(#{$root}__errors:not(:empty)),
		&[aria-invalid='true'] {
			border-color: red;
		}
	}

	&__errors {
		margin-top: 5rem;
		padding-inline: 20rem;
		display: flex;
		flex-direction: column;
		row-gap: 5rem;
		color: red;

		&:empty {
			display: none;
		}
	}
}
