@use '../media' as *;

.fitting-filter-form {
	padding-block: 20rem;
	display: flex;
	flex-direction: column;
	row-gap: 20rem;

	&__actions {
		display: flex;
		justify-content: end;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__inner {
		display: flex;
		align-items: center;
		gap: 16rem;
		flex-grow: 1;
	}

	&__field {
		display: inline-flex;
		max-width: min(100%, 250rem);
	}
}
