@use '../media' as *;

.floating-cta {
	display: flex;
	column-gap: 10rem;
	position: fixed;
	right: 40rem;
	bottom: 20rem;
	z-index: 10;

	@include mobile {
		width: 100%;
		justify-content: center;
		right: 0;
	}
}