@use '../media' as *;

.hero-slider {
  $root: &;

  &__image {

    & > img {
      object-position: top center;
    }
  }

  &__bottom-content {
    max-width: 930rem;

    & .p-16-20 {
      max-width: 695rem;
    }
  }
}
