@use '../media' as *;

.lf-select {
	$root: &;

	display: inline-block;

	&__control {
		padding-block: 4rem;
		border: none;
		background-color: transparent;
		font-weight: 500;
		text-transform: uppercase;
		appearance: none;
		background-image: url("data:image/svg+xml;utf8,<svg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M4.28598 5.24977L0 0.74993L0.714289 0L5.00027 4.49984L9.28571 0.000560648L10 0.750491L4.99998 6L4.28569 5.25007L4.28598 5.24977Z' fill='black'/></svg>");
		background-repeat: no-repeat;
		background-position: 95% center;

		@include mobile {
			font-size: 12rem;
			line-height: 1;
		}

		#{$root}--filter & {
			font-size: 12rem;
			line-height: 1;
		}
	}
}