.lf-review-card {
	&__rating {
		display: flex;
	}
}

.lf-rating-heart {
	width: 24rem;
	height: 24rem;
	color: var(--pink);
	opacity: 0.2;
	fill: currentColor;

	.no-image & {
		color: var(--purple);
	}

	&--filled {
		opacity: 1;
	}
}
