@use '../media' as *;

.lf-content {
	margin: 0 auto;
	width: 100%;
	font-size: 16rem;
	line-height: 1.4;
	
	&:not(:has(.lf-accordion-group)) {
		padding: 0 20px;
		max-width: 1200px;
		background-image: url('../assets/images/lf-content.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 333rem 458rem;
	
		@include mobile {
			padding: 0;
			background-size: 80% auto;
		}
	}
}