@use '../media' as *;

.lf-navbar {
	@include mobile {
		& .lf-navbar__menu-line--mobile {
			padding-top: 26rem;
		}

		& .logo-link,
		& .lf-scroll-navbar-logo--mobile {
			padding-top: 6rem;
		}
	}

	&__menu-line {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 40rem;

		&--mobile {
			@include tablet {
				justify-content: start;
				gap: 2rem;
			}
		}

		&--right {
			justify-content: end;
		}
	}
}
