.lf-select {
	$root: &;

	display: inline-block;

	&__control {
		padding-block: 4rem;
		border: none;
		background-color: transparent;
		font-weight: 500;
		text-transform: uppercase;
		appearance: none;

		#{$root}--filter & {
			font-size: 12rem;
			line-height: 1;
		}
	}
}