@use '../media' as *;

.lf-story-circle {
	--padding-inline: 15rem;

	&.btn {
		margin: 0;
		padding: 20rem var(--padding-inline);
		max-width: calc(70rem + (var(--padding-inline) * 2));
		text-align: center;

		@include tablet {
			&:first-child {
				padding-left: 0;
				max-width: calc(70rem + var(--padding-inline));
			}

			&:last-child {
				padding-right: 0;
				max-width: calc(70rem + var(--padding-inline));
			}
		}
	}
}
