@use '../media' as *;

.lf-navbar {
	@include mobile {
		padding-top: 6rem;
	}

	&__menu-line {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 40rem;

		&--mobile {
			@include tablet {
				justify-content: start;
				gap: 2rem;
			}
		}

		&--right {
			justify-content: end;
		}
	}
}
