@use '../media' as *;

.lf-catalog-grid {
	$root: &;

	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 30rem 10rem;

	.lf-product-filter-form[hidden] + & {
		padding-top: 20rem;
	}

	&--3-col {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	&.catalog-grid {
		@include tablet {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
	}

	@include mobile {
		grid-template-columns: 1fr;
		row-gap: 20rem;
	}

	&:not(#{$root}--3-col) {
		& > *:nth-child(6n + 3),
		& > *:nth-child(6n + 4) {
			grid-area: span 2 / span 2 / span 2 / span 2;

			@include tablet {
				grid-area: span 1 / span 1 / span 1 / span 1;
			}
		}
	}
}
