@use '../media' as *;

.lf-map {
	&__container {
		width: 100%;
		height: 100%;
		max-width: 1165rem;
		max-height: 515.5rem;
		overflow: hidden;
	}

	&__text {
		&--1 {
			@include mobile {
				top: -12rem;
			}
		}
	}
}
