.lf-icon-button {
	$root: &;

	position: relative;
	z-index: 1;
	padding: 4rem;
	height: 28rem;
	min-width: 28rem;
	display: inline-flex;
	align-items: center;
	font-size: 12rem;
	line-height: 1;
	text-decoration: none;
	color: var(--black);
	background-color: transparent;
	cursor: pointer;

	&--favorites {
		padding: 0;

		#{$root}__icon {
			fill: transparent;
			stroke: var(--pink);

			.dopmenuopened &,
			.mobmenuopened &,
			.white-top & {
				stroke: var(--pink);
			}
		}

		&.is-active {
			#{$root}__icon {
				fill: var(--pink);
			}

			.dopmenuopened &,
			.mobmenuopened &,
			.white-top & {
				#{$root}__icon {
					fill: var(--pink);
				}
			}
		}
	}

	&--white {
		color: var(--white);

		.dopmenuopened &,
		.mobmenuopened &,
		.white-top & {
			color: var(--black);
		}

		#{$root}__icon {
			stroke: currentColor;
		}

		&.is-active {
			#{$root}__icon {
				fill: currentColor;
			}
		}
	}

	&--search {
		position: relative;
		&.is-active {
			#{$root}__icon {
				opacity: 0;
			}

			&::after,
			&::before {
				content: '';
				width: 50%;
				height: 1px;
				display: block;
				background-color: var(--black);
				position: absolute;
				top: 50%;
				left: 50%;
				translate: -50% -50%;
			}

			&::after {
				rotate: -45deg;
			}

			&::before {
				rotate: 45deg;
			}
		}
	}

	&--phone {
		#{$root}__icon {
			fill: transparent;
			// stroke: currentColor;
		}
	}

	&__icon {
		width: 24rem;
		height: 24rem;
		fill: currentColor;
		stroke: currentColor;
	}

	&__counter {
		margin-left: -2rem;
		width: 2ch;
		text-align: center;

		&:empty {
			display: none;
		}
	}
}
