@use '../media' as *;

.post-password-form {
	width: 100%;
	max-width: 500rem;
	padding: 40rem;
	border-radius: 20rem;
	border: var(--field-border);
	display: flex;
	flex-direction: column;
	gap: 20rem;
}
