@use '../media' as *;

.review-card {
	padding: 40rem;
	width: 100%;
	max-width: min(460rem, calc(100vw - 20rem));
	position: fixed;
	top: 50%;
	left: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 20rem;
	font-size: 16rem;
	line-height: 1.25;
	background-color: var(--white);
	translate: -50% -50%;

	@include mobile-s {
		padding: 20rem;
	}

	&__icon {
		width: 70rem;
		height: 66rem;
	}

	&__title {
		font-size: 21rem;
		line-height: 1;
		text-transform: uppercase;
		text-align: center;
	}

	&__description {
		text-align: center;
	}

	&__button {
		align-self: stretch;
	}
}
