.splide {
	&__track {
		overflow: visible;
		transform: translateZ(0);
		backface-visibility: hidden;

		&.reviews-slider__track {
			overflow: hidden;
		}
	}

	&__list {
		transform: translateZ(0);
	}

	&__slide {
		backface-visibility: hidden;

		img {
			backface-visibility: hidden;
			image-rendering: -webkit-optimize-contrast;
			image-rendering: optimize-contrast;

			max-width: 100%;
			display: block;
		}
	}
}
