@use '../media' as *;

.review-page {
	&__title {
		margin-bottom: 30rem;

		@include mobile {
			margin-bottom: 20rem;
		}
	}
}

.lf-review-section {

	@include mobile {
		scroll-padding-top: 76rem;
	}

	&__container {
		display: flex;
		flex-direction: column;
		row-gap: 25rem;

		@include mobile {
			row-gap: 20rem;
		}
	}
	&__header {
	}

	&__body.spleet {
		margin: 0;
		display: flex;
		justify-content: space-between;
		gap: 25rem;

		@include mobile {
			margin: 0;
			flex-direction: column;
		}
	}

	&__content {
		font-size: 16rem;
		line-height: 1.25;
		max-width: 578rem;
	}
}
