@use 'media' as *;

html {
	-webkit-font-smoothing: antialiased;

	&.is-locked {
		overflow: hidden;
	}
}

*:focus-visible {
	outline: 2px dashed var(--pink);
	transition-duration: 0ms;
}

[data-focus-trap] *:focus-visible {
	outline: none;
}

a[href]:where(:not([class])) {
	color: var(--pink);
	transition: opacity 0.3s ease-out;

	@include hover {
		opacity: 0.65;
	}
}

*[hidden] {
	display: none !important;
}

// #barba-wrapper {
// 	overflow: hidden;
// }

.code-embed-4 {
	position: relative;
}

.section {
	@include tablet {
		&:has(.splide) {
			overflow: hidden;
		}
	}
}

.n-menu {
	.white-top &,
	.dopmenuopened & {
		color: black;

		&.w--current {
			color: black;
		}
	}
}

.header.menuline {
	.htmldopmenuopened & {
		color: black;

		.p-12-12.uper.white {
			color: black;
		}
	}

	.white-top & {
		.p-12-12.uper.white {
			color: black;
		}
	}
}

.m-none {
	.menu-line:not(:has(.lf-nav-link)) {
		position: relative;
		z-index: 1;
	}
}

.fixed-navbar.menuline {
	color: black;

	.menu-line {
		color: inherit;
	}

	.n-menu {
		color: inherit;
	}
}

.m-nav-drop-btn {
	color: var(--black);
}

.indirm-line {
	z-index: 999;
}

.div-block-5 {
	display: flex;
	column-gap: 20rem;

	@include tablet {
		column-gap: 0rem;
	}
}

.hovered-menue {
	&.search-m.active {
		@include tablet {
			height: 100dvh;
		}
	}

	&_close-menu {
		@include tablet {
			display: none;
		}
	}
}

.serch-mob {
	overflow: auto;
}

.m-nav-cats {
	@include tablet {
		margin-bottom: 0;
	}
}

.choosed-item,
.prod-item_img-mom {
	aspect-ratio: 205 / 308;
}

.clear-search {
	background-color: transparent;
}

.single-styk {
	top: 64rem;
}

.map-keeper {
	@include tablet {
		width: 100%;
	}
}

.label {
	font-weight: 500;
}

.serach-btn > .code-embed-3 {
	width: 15rem;
}

picture:has(.img-cover) {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.slider_home-slider_slide-in {
	.img-cover {
		object-position: top;
	}
}

.splide.is-initialized:not(.is-active) .splide__list.otzivi-grid {
	display: flex;
}

.filters-form {
	z-index: unset;
}

.logo-link {
	& svg {
		width: 225rem;
		height: 141rem;

		@include tablet {
			width: 165rem;
			height: 104rem;
		}

		@include mobile {
			width: 165rem;
			height: 69rem;
		}
	}
}
