@use 'media' as *;

html {
	&.is-locked {
		overflow: hidden;
	}
}

*:focus-visible {
	outline: 2px dashed var(--pink);
	transition-duration: 0ms;
}

.indirm-line {
	z-index: 999;
}

.div-block-5 {
	display: flex;
	column-gap: 20rem;

	@include tablet {
		column-gap: 0rem;
	}

	&.wh-head {
		column-gap: 0rem;
	}
}
