@use 'media' as *;

html {
	-webkit-font-smoothing: antialiased;

	&.is-locked {
		overflow: hidden;
	}
}

*:focus-visible {
	outline: 2px dashed var(--pink);
	transition-duration: 0ms;
}

.indirm-line {
	z-index: 999;
}

.div-block-5 {
	display: flex;
	column-gap: 20rem;

	@include tablet {
		column-gap: 0rem;
	}

	&.wh-head {
		column-gap: 0rem;
	}
}

.choosed-item,
.prod-item_img-mom {
	aspect-ratio: 205 / 308;
}

.clear-search {
	background-color: transparent;
}

.single-styk {
	top: 60rem;
}

.map-keeper {
	@include tablet {
		width: 100%;
	}
}

.label {
	font-weight: 500;
}