@mixin sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

@mixin square($size) {
	width: $size;
	height: $size;
}

@mixin widget-box-shadow {
	box-shadow: 0 30rem 24rem -24rem rgba(0, 0, 0, 0.5);
}
