.uppercase {
	text-transform: uppercase;
}

.italic {
	font-style: italic;
}

.noitalic {
	font-style: normal;
}

.ff-tt-chocolates {
	font-family: 'Tt Chocolates', sans-serif;
}

.ff-tt-norms-pro {
	font-family: 'Tt Norms Pro Serif', serif;
}
