.uppercase {
	text-transform: uppercase !important;
}

.lovercase {
	text-transform: lowercase !important;
}

.italic {
	font-style: italic !important;
}

.noitalic {
	font-style: normal !important;
}

.ff-tt-chocolates {
	font-family: 'Tt Chocolates', sans-serif;
}

.ff-tt-norms-pro {
	font-family: 'Tt Norms Pro Serif', serif;
}

.text-pink {
	color: var(--pink) !important;
}
